/**********************************/
/* 1. Estilos gerais
/**********************************/

@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    box-sizing: border-box;
}
/**********************************/
/* 2. Menu
/**********************************/
 header .linha{
    background-color: #117050;
    height: 10px;
}
.container{
    max-width: 1140px;
    margin: auto;
    
}
.cabecalho__area{
    
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.logo img{
    width: 139px;
    height: 80px;
}

.buscar-menu{
    display: flex;
    align-items: center;
}


.buscador input{
    font-size: 16px;
    padding: 7px 10px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 220px;
}
.buscador button{
    border: 0;
    background-color: transparent;
    margin: -30px;
    cursor: pointer;
}
.buscador button img{
    width: 16px;
    height: 16px;
}
.buscador form{
    display: flex;
}
.menu__lateral{
    margin-left: 50px;
    cursor: pointer;
}
.menu__lateral img{
    width: 24px;
    height: 24px;
}
/**********************************/
/* 3. Banner
/**********************************/
.banner{
    background-image: url('../imagens/imagem-fundo.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}
.banner h1{
    font-family: 'Oswald','sans-serif' ;
    font-weight: bold;
    font-size: 80px;
    line-height: 100px;
    margin: 0px;
    margin-bottom: 30px;
}
.banner__Tres__imagens{
    margin-top: 60px;
}
.banner__Tres__imagens img{
    width: 148px;
    height: 140px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 40px;
}