/**********************************/
/* 1. Estilos gerais
/**********************************/

@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    box-sizing: border-box;
}
h1{
    font-family: 'Oswald','sans-serif' ;
    font-weight: bold;
    font-size: 80px;
    line-height: 100px;
    margin: 0px;
    margin-bottom: 30px;
}
h2{
    font-family: 'Oswald','sans-serif' ;
    font-weight: bold;
    font-size: 35px;
    margin: 20px 0px;
    
}
.button{
    display: inline-block;
    border: 2px solid #454545;
    padding: 10px 30px;
    border-radius: 3px;
    color: #454545;
    text-decoration: none;
}
.button:hover{
    color: #fff;
    background-color: #454545;
}
/**********************************/
/* 2. Menu
/**********************************/
 header .linha{
    background-color: #117050;
    height: 10px;
}
.container{
    max-width: 1140px;
    margin: auto;
    
}
.cabecalho__area{
    
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.logo img{
    width: 139px;
    height: 80px;
}

.buscar-menu{
    display: flex;
    align-items: center;
}


.buscador input{
    font-size: 16px;
    padding: 7px 10px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 220px;
}
.buscador button{
    border: 0;
    background-color: transparent;
    margin: -30px;
    cursor: pointer;
}
.buscador button img{
    width: 16px;
    height: 16px;
}
.buscador form{
    display: flex;
}
.menu__lateral{
    margin-left: 50px;
    cursor: pointer;
}
.menu__lateral img{
    width: 24px;
    height: 24px;
}
/**********************************/
/* 3. Banner
/**********************************/
.banner{
    background-image: url('../imagens/imagem-fundo.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}

.banner__Tres__imagens{
    margin-top: 60px;
}
.banner__Tres__imagens img{
    width: 148px;
    height: 140px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 40px;   
}
/**********************************/
/* 4. Area 1
/**********************************/
.area1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area1__conteudo{
    padding: 80px;
}
.area1__primeira__img{
    height: 350px;
    background-image: url('../imagens/img-estados-unidos.jpg');
    background-size: cover;
    background-position: center;
}
.area1__segunda__img{
    grid-column: 2/3;
    grid-row: 1/3;
    background-image: url('../imagens/img-estados-unidos1.jpg');
    background-size: cover;
    background-position: center;
}
.barra__designer1{
    background-color: red;
    width: 168px;
    height: 22px;
}
.frasesinha{
    margin-bottom: 30px;
}
.texto{
    padding-bottom: 30px;
    line-height: 25px;
}
/**********************************/
/* 5. Area 2
/**********************************/

.area2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area2__conteudo{
    padding: 80px;
}
.area2__primeira__img{
    height: 450px;
    background-image: url('../imagens/img-canada2.jpg');
    background-size: cover;
    background-position: center;
}
.area2__segunda__img{
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url('../imagens/img-canada.jpg');
    background-size: cover;
    background-position: center;
}
.barra__designer1{
    background-color: red;
    width: 168px;
    height: 22px;
}
.frasesinha{
    margin-bottom: 30px;
}
.texto2{
    padding-bottom: 30px;
    line-height: 25px;
}
/**********************************/
/* 6. Area 3
/**********************************/


.area3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area3__conteudo{
    padding: 200px 80px;
    
}
.area3__imagem{
    background-image: url('../imagens/malta.jpg');
    background-size: cover;
    background-position: center;
}
.area3__texto{
    padding-bottom: 30px;
    line-height: 25px;
}
.barra__designer1{
    background-color: red;
    width: 168px;
    height: 22px;